- if signed_in?
  .row
    %aside.span4
      %section= render 'shared/user_info'
      %section= render 'shared/project_form'
    .span8
      %h3 Projects
      %ol.projects= render @projects if !@projects.nil?
- else
  .center.hero-unit
    %h1 LifeSense
    %p
      LifeSense will track anything. Well right now it just tracks time (almost).
    = link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
    %p
      View our meeting log #{link_to "here", meeting_path}.
