- provide(:title, 'Project')

%h1
  =@project.name
%p

  %b
    Total Time:

  - @total_seconds = @project.total_time
  = render 'shared/total_time'


.row
  %aside.span4
    -if !@project.nil? && @project.stopped?
      %section= render 'shared/time_record_form'
    -else 
      %section= render 'shared/time_record_edit_form'

.span8
  - if @project.time_records.any?
    %h3
      Time Records (#{@project.time_records.count})
    %ol.time_records= render @time_records if !@time_records.nil?
    = will_paginate @time_records
